.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.banner{
  height: 160px;
  color: #fff;
  background-image: url("./img/Cables.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


